body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {padding: 0;margin: 0; }
fieldset, img, abbr{border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARA.woff2') format('woff2'),
      url('/fonts/GARA.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARARG.woff2') format('woff2'),
      url('/fonts/GARARG.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARABD.woff') format('woff');
   font-style: normal;
   font-weight: bold;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARABDIT.woff2') format('woff2'),
      url('/fonts/GARABDIT.woff') format('woff');
   font-style: italic;
   font-weight: bold;
   font-display: swap;
}

body{
   font-family: 'Roboto', sans-serif;
   margin: 0 auto;
   padding: 0;
   position: relative;
   background-color: #191919;
   color: #fff;
}

.wrapper{
   display: flex;
   flex-direction: column;
}

.container{
   position: relative;
   width: 1170px;
   margin: 0 auto;
   padding: 0;
}

.header{
   display: block;;

}
.main{
   flex: 1 0 auto;
}

.footer{
   flex: 0 0 auto;
}

.social {
   display: flex;
}

.social__list{
   margin-right: 15px;
}

.btn{
   width: 220px;
   height: 62px;
   padding: 23px 0;
   margin: 0 37.5px;
   text-align: center;
   border: 1px solid #E1DECE;
   border-radius: 5px;
   color: #E1DECE;
   font-family: 'Garamond';
}

.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
}

.logo__inner{
   position: relative;
}

.logo__text{
   margin-left: 16px;
   max-width: 184px;
   text-transform: uppercase;
   font-size: 20px;
}

.logo__text span{
   text-transform: none;
   font-size: 14px;
}

.menu__list{
   display: flex;
}

.menu__list-item{
   padding: 9px 0;
}

.menu__list-item + .menu__list-item{
   margin-left: 46px;
}

.menu__list-item--active{
   padding: 9px 0;
   position: relative;
}

.menu__list-item--active::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 1px;
   background-color: #fff;
}

.header__phone{
padding-left: 29px;
font-size: 20px;
position: relative;
}

.header__phone::before{
   content: '';
   position: absolute;
   background-image: url(/img/phone_icon.svg);
   height: 19px;
   width: 19px;
   left: 0;
}

.home {
   display: flex;
   width: 100%;
   position: relative;
}

.home__bg{
   position: absolute;
   z-index: -99;
   right: 0;
   top: 0;
   width: 93%;
}

.home__img{
   position: absolute;
   bottom: -60px;
   right: 0;
}

.home__aside {
   position: relative;
}

.aside__title {
   width: 224px;
   position: absolute;
   top: 357px;
   left: 37px;
   transform: rotate(-90deg);
   transform-origin: left top 0;
}

.aside__title::before{
   content: '';
   position: absolute;
   width: 75px;
   height: 1px;
   border-radius: 5px;
   background-color: #E1DECE;
   left: -102px;
   top: 7px;
}

.social__aside{
   flex-direction: column;
   margin-top: 483px;
}

.social__aside .social__list{
   margin: 0 10px 12px 31px;
}

.home__content {
   max-width: 1345px;
   padding-top: 185px;
   text-align: center;
   position: relative;
   z-index: -1;
}

.logo__circle{
   position: absolute;
   top: -40px;
   left: -150px;
}

.home__text{
   max-width: 750px;
   margin: 0 auto;
}

.home__title {
   padding-bottom: 22px;
   font-family: 'Garamond';
   font-weight: bold;
   font-size: 50px;
   line-height: 62px;
}

.home__subtitle {
   max-width: 510px;
   min-height: 94px;
   margin: 0 auto;
   padding-bottom: 30px;
   font-size: 20px;
   line-height: 32px;
}

.cost {
   max-width: 220px;
   border-radius: 50px;
   background-color: #fff;
   padding: 23px 50px;
}

.projects {
   padding-top: 120px;
}

.projects__title {
   padding-bottom: 23px;
   margin-bottom: 34px;
   font-family: "Garamond";
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   color: #E1DECE;
   border-bottom: 1px solid #E1DECE;
}

.projects__inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 30px;
   margin-bottom: 84px;
}
.projects__item {
   text-align: center;
   font-family: "Garamond";
}
.projects__item-img {
   margin-bottom: 26px;
}
.projects__item-title {
   margin-bottom: 7px;
   font-size: 16px;
   font-weight: bold;
}
.projects__item-subtitle {
   margin-bottom: 4px;
}

.buttons{
   display: flex;
   justify-content: center;
}

.footer{
   font-size: 15px;
   line-height: 25px;
}

.footer__content {
   display: flex;
   padding-bottom: 37px;
}

.footer__inner {
   margin-top: 60px;
   min-width: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 87px 87px;
   gap: 30px;
}

.footer__title{
   margin-bottom: 15px;
   letter-spacing: normal;
}

.footer__subtitle{
   font-weight: 400;
   color: #E1DECE;
}

.footer__number {
   display: block;
}

.footer__copyright{
   background-color: #1F1F1F;
   text-align: center;
   padding: 41px 0 45px;
   font-size: 15px;
   line-height: 25px;
}