body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {padding: 0;margin: 0; }
fieldset, img, abbr{border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARA.woff2') format('woff2'),
      url('/fonts/GARA.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARARG.woff2') format('woff2'),
      url('/fonts/GARARG.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARABD.woff') format('woff');
   font-style: normal;
   font-weight: bold;
   font-display: swap;
}

@font-face {
   font-family: 'Garamond';
   src: url('/fonts/GARABDIT.woff2') format('woff2'),
      url('/fonts/GARABDIT.woff') format('woff');
   font-style: italic;
   font-weight: bold;
   font-display: swap;
}

@font-face {
   font-family: 'Segoe Script';
   src: url('/fonts/SegoeScript.woff2') format('woff2'),
      url('/fonts/SegoeScript.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

body{
   font-family: 'Roboto', sans-serif;
   margin: 0 auto;
   padding: 0;
   position: relative;
   background-color: #191919;
   color: #fff;
}

.wrapper{
   display: flex;
   flex-direction: column;
}

.container{
   position: relative;
   width: 1170px;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

.header{
   display: block;;

}
.main{
   flex: 1 0 auto;
}

.footer{
   flex: 0 0 auto;
}

.social {
   display: flex;
}

.social__list{
   margin-right: 15px;
}

.title{
   font-family: "Garamond";
   font-size: 40px;
   font-weight: bold;
   color: #E1DECE;
}

.buttons{
   display: flex;
   justify-content: center;
}

.btn{
   width: 220px;
   height: 62px;
   padding: 23px 0;
   margin: 0 37.5px;
   text-align: center;
   border: 1px solid #E1DECE;
   border-radius: 5px;
   background-color: inherit;
   color: #E1DECE;
   font-family: 'Garamond';
}

.stripe{
   width: 100%;
   height: 1px;
   background-color: #E1DECE;
   border-radius: 5px;
}

.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
}

.logo__inner{
   position: relative;
}

.logo__text{
   margin-left: 16px;
   max-width: 184px;
   text-transform: uppercase;
   font-size: 20px;
}

.logo__text span{
   text-transform: none;
   font-size: 14px;
}

.menu__list{
   display: flex;
}

.menu__list-item{
   padding: 9px 0;
}

.menu__list-item + .menu__list-item{
   margin-left: 46px;
}

.menu__list-item--active{
   padding: 9px 0;
   position: relative;
}

.menu__list-item--active::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 1px;
   background-color: #fff;
}

.header__phone{
padding-left: 29px;
font-size: 20px;
position: relative;
}

.header__phone::before{
   content: '';
   position: absolute;
   background-image: url(/img/phone_icon.svg);
   height: 19px;
   width: 19px;
   left: 0;
}

.home {
   display: flex;
   width: 100%;
   position: relative;
}

.home__bg{
   position: absolute;
   z-index: -99;
   right: 0;
   top: 0;
   width: 93%;
}

.home__img{
   position: absolute;
   bottom: -60px;
   right: 0;
}

.home__aside {
   position: relative;
}

.aside__title {
   width: 224px;
   position: absolute;
   top: 357px;
   left: 37px;
   transform: rotate(-90deg);
   transform-origin: left top 0;
}

.aside__title::before{
   content: '';
   position: absolute;
   width: 75px;
   height: 1px;
   border-radius: 5px;
   background-color: #E1DECE;
   left: -102px;
   top: 7px;
}

.social__aside{
   flex-direction: column;
   margin-top: 483px;
}

.social__aside .social__list{
   margin: 0 10px 12px 31px;
}

.home__content {
   max-width: 1345px;
   padding-top: 185px;
   position: relative;
   z-index: -1;
}

.logo__circle{
   position: absolute;
   top: -40px;
   left: -150px;
}

.home__text{
   max-width: 750px;
   margin: 0 auto;
}

.home__title {
   padding-bottom: 22px;
   font-family: 'Garamond';
   font-weight: bold;
   font-size: 50px;
   line-height: 62px;
}

.home__title span{
   color: #E1DECE;
}

.home__subtitle {
   max-width: 510px;
   min-height: 94px;
   margin: 0 auto;
   padding-bottom: 30px;
   font-size: 20px;
   line-height: 32px;
}

.top-content{
   position: relative;
   width: 100%;
}

.top-content__bg{
   position: absolute;
   z-index: -99;
   right: 0;
   top: 0;
   width: 100%;
   height: 332px;
}

.renovation{
   display: flex;
   flex-direction: column;
   height: 332px;
}

.renovation__subtitle{
   flex: 0 0 auto;
   padding-top: 130px;
   line-height: 28px;
}

.renovation__title {
   flex: 1 0 auto;
   font-family: "Garamond";
   font-size: 40px;
}

.breadcrumbs {
   margin: 0 auto;
   padding-bottom: 8px;
}

.breadcrumbs__list {
   display: flex;
}

.breadcrumbs__item {
   padding-left: 5px;
   color: #E1DECE;
}

.breadcrumbs__item:first-child {
   color: #9F9F9F;
}

.breadcrumbs__item::before {
   content: '/';
   
}

.breadcrumbs__item:first-child::before {
   content: '';
}

.breadcrumbs__link {
   line-height: 26px;
}


.cost {
   display: block;
   max-width: 220px;
   margin: 0 auto;
   border-radius: 50px;
   background-color: #fff;
   padding: 23px 50px;
   color: #191919;
}

.projects {
   padding-top: 120px;
}

.projects__title {
   margin-bottom: 23px;
   font-family: "Garamond";
   font-weight: bold;
   font-size: 40px;
   color: #E1DECE;
}

.projects__title span{
   font-weight: bold;
   font-size: 60px;
}

.projects__stripe{
   margin-bottom: 34px;
}

.projects__inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 30px;
   margin-bottom: 84px;
}
.projects__item {
   font-family: "Garamond";
}
.projects__item-img {
   margin-bottom: 26px;
}
.projects__item-title {
   margin-bottom: 7px;
   font-size: 16px;
   font-weight: bold;
}
.projects__item-subtitle {
   margin-bottom: 4px;
}

.projects__buttons{
margin-bottom: 130px;
}

.about__title {
   max-width: 650px;
   margin: 0 auto;
   padding-bottom: 20px;
   font-family: "Garamond";
   font-size: 40px;
   line-height: 46px;
}

.about__title span{
   color: #E1DECE;
}

.about__stripe{
   margin-bottom: 34px;
}
.about__inner {
   display: flex;
   justify-content: space-between;
}
.about__images {
   display: flex;
}

.about__image + .about-us__image{
   margin-left: 18px;
}

.about__content {
   max-width: 589px;
}

.about__text {
   text-align: left;
   margin-bottom: 53px;
}

.about__text>p{
   margin-bottom: 33px;
   font-size: 16px;
   line-height: 26px;
}
.about__items {
   display: flex;
   justify-content: space-between;
   margin-bottom: 48px;
}

.about__item {
   position: relative;
   display: flex;
   flex-basis: 0;
   min-height: 53px;
   align-items: center;
   text-align: left;
   text-transform: uppercase;
   font-size: 12px;
}

.about__item-left {
   position: absolute;
   left: 12px;
   padding: 0 7.5px;
   align-self: flex-end;
   transform: rotate(-90deg);
   transform-origin: left bottom 0;
}

.about__item-center {
   margin-left: 12px;
   padding-left: 5px;
   font-size: 45px;
   font-weight: medium;
}

.about__item-right {
   flex-basis: 0;
   margin-left: 5px;
}

.about__content-bottom {
   display: flex;
   justify-content: end;
   margin-bottom: 84px;

}
.about__content-bottom p{
   padding-top: 13px;
   font-family: 'Segoe Script';
   font-size: 16px;
   color: #E1DECE;
}

.about__signature {
   margin-left: 48px;
}

.advantages {
   margin-top: -18px;
}

.advantages__light {
   position: relative;
   background: url(/img/advantages_light_bg.png) top center no-repeat;
}

.advantages__magazine{
position: absolute;
top: 110px;
left: 0;
}

.advantages__box{
   width: 44%;
   margin-left: auto;
   margin-bottom: 262px;
   text-align: left;
}

.advantages__title {
   padding-top: 330px;
   margin-bottom: 358px;
   font-family: "Garamond";
   font-size: 40px;
   line-height: 60px;
   color: #191919;
}

.advantages__title span {
   text-transform: uppercase;
   font-weight: bold;
}

.advantages__subtitle {
   padding-left: 6px;
   font-size: 16px;
   line-height: 26px;
   color: #404040;
}

.advantages__subtitle p{
   margin-bottom: 22px ;
}

.advantages__subtitle span{
   text-transform: uppercase;
   font-size: 24px;
}

.advantages__columns {
   display: flex;
   justify-content: space-between;
}

.advantages__column {
   width: 270px;
   margin-bottom: 378px;
   background-color: #191919;
   border-radius: 20px;
}

.advantages__column-img {
   margin: 37px 0 39px;
}

.advantages__column-title {
   max-width: 222px;
   margin: 0 auto;
   padding-bottom: 19px;
   font-size: 18px;
   line-height: 28px;
   text-transform: uppercase;
   color: #FBFBFB;
}

.advantages__column-subtitle {
   max-width: 231px;
   margin: 0 auto 43px;
   line-height: 24px;
   color: #CDCDCB;
}

.advantage{
   margin-top: -11px;
}

.advantage__inner {
   max-width: 1118px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 196px;
}

.advantage__inner:last-child{
   margin-bottom: 0;
}

.advantage__images {
   position: relative;
}

.advantage__second-img {
   position: absolute;
   top: 256px;
}

.advantage__img-left{
   right: -110px;
}

.advantage__img-right{
   left: -110px;
}

.advantage__content {
   max-width: 35%;
   text-align: left;
}

.advantage__desc {
   margin-bottom: 18px;
   font-size: 10px;
   line-height: 26px;
   color: #6e6e6e;
}

.advantage__title {
   margin-bottom: 30px;
   font-family: "Garamond";
   font-size: 40px;
   line-height: 46px;
   font-weight: bold;
   color: #E1DECE;
}

.advantage__text {
   font-size: 16px;
   line-height: 26px;
   color: #C4C4C4;
}

.advantage__bg-1 {
   position: absolute;
   top: -292px;
   right: -188px;
   z-index: -10;
}
.advantage__bg-2 {
   position: absolute;
   top: -173px;
   left: -137px;
   z-index: -10;
}
.advantage__bg-3 {
   position: absolute;
   top: -349px;
   right: -188px;
   z-index: -10;
}

.info {
   margin-top: -220px;
   padding-bottom: 470px;
   background: url(/img/info_bg.png) top center no-repeat;
}

.info__title {
   padding-top: 462px;
   max-width: 620px;
   margin-left: auto;
   margin-bottom: 128px;
   text-align: left;
   font-family: "Garamond";
   font-size: 40px;
   line-height: 60px;
   color: #191919;
}

.info__title span{
   font-weight: bold;
   text-transform: uppercase;
}

.info__columns {
   display: flex;
   justify-content: space-between;
}
.info__column {
   max-width: 370px;
   text-align: left;
   color: #101010;
}

.info__column--small{
   min-height: 432px;
}

.info__column-title {
   min-height: 110px;
   font-family: "Garamond";
   font-size: 24px;
   line-height: 36px;
   font-weight: bold;
}
.info__column-text {
   margin-bottom: 24px;
   line-height: 24px;
}

.info__column-text span{
   font-weight: bold;
}

.steps {
   margin-top: -470px;
   padding-bottom: 600px;
   background: url(/img/steps_bg.png) top center no-repeat;
}

.steps__title {
   max-width: 621px;
   margin-left: auto;
   margin-bottom: 120px;
   padding-top: 498px;
   font-family: "Garamond";
   text-align: left;
   font-size: 40px;
   line-height: 60px;
}

.steps__title span{
   font-weight: bold;
   color: #E1DECE;
}

.steps__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat (2, 1fr);
   gap: 73px;
}

.step {
   max-width: 308px;
   text-align: left;
}

.step__img {
   margin-bottom: 51px;
}

.step__title {
   margin-bottom: 22px;
   text-transform: uppercase;
}

.step__text {
   line-height: 24px;
   color: #C4C4C4;
}

.partners {
   margin-top: -600px;
   padding-top: 350px;
   background: url(/img/partners_bg.png) top center no-repeat;
}

.partners__title {
   max-width: 622px;
   margin-left: auto;
   margin-bottom: 90px; 
   text-align: left;
   font-family: "Garamond";
   font-size: 40px;
   line-height: 60px;
}

.partners__title span{
   text-transform: uppercase;
   color: #E1DECE;
}

.partners__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   align-items: center;
   margin-bottom: 230px;
}

.partners__item {
   margin: -25px 0;
}

.projects__renovation{
padding-top: 83px;
margin-bottom: 174px;
}

.projects__text {
   max-width: 750px;
   margin: 0 auto 83px;
   font-size: 16px;
   line-height: 26px;
}

.projects__text p {
   margin-bottom: 22px;
}

.projects__renovation-title{
   font-weight: normal;
   color: #E1DECE;
}

.payment-order {
   margin-bottom: 133px;
}

.payment-order__title {
   margin-bottom: 55px;
}
.payment-order__cols {
   display: flex;
   justify-content: space-between;
}
.payment-order__col {
   max-width: 45%;
   text-align: left;
   font-size: 16px;
}

.payment-order__col p {
   margin-bottom: 7px;
}

.payment-order__percent {
margin-bottom: 14px;
}

.payment-order__percent span {
font-size: 30px;
}

.term {
   padding-bottom: 236px;
}

.term__title {
   margin-bottom: 59px;
}

.toggle__buttons {
   margin-bottom: 16px;
}

.toggle__standard {
   width: 50%;
   margin: 0;
   border-radius: 5px 0 0 5px;
   font-size: 16px;
   font-weight: bold;
}

.toggle__non-standard {
   width: 50%;
   margin: 0;
   border-radius: 0 5px 5px 0;
   font-size: 16px;
   font-weight: bold;
}

.toggle--active{
   background-color: #fff;
   color: #191919;
}

.term__table {
   width: 100%;
   border-collapse: collapse;
   font-family: "Garamond";
   font-size: 16px;
   font-weight: bold;
   color: #191919;
   margin-bottom: 80px;
}

.term__table__standard {
}

.term__table__non-standard {
   display: none;
}

.term__table-tr:first-child .term__table-td {
   padding: 51px 10px 31px;
}

.term__table-td {
   padding: 17px;

}
.td-1 {
   background-color: #EFEFEF;
}
.td-2 {
   background-color: rgba(229, 229, 229, 0.9);
}
.td-3 {
   background-color: #EFEFEF;
}
.td-4 {
   background-color: rgba(229, 229, 229, 0.9);
}

.prices {
   padding-bottom: 247px;
}

.prices__title {
   margin-bottom: 30px;
}

.prices__stripe {
   margin-bottom: 30px;
}

.prices__inner {
   display: flex;
   justify-content: space-between;
}

.prices__item {
   display: flex;
   flex-direction: column;
   max-width: 270px;
   height: 665px;
   padding: 11px 0 13px;
   background-color: #fff;
   color: #191919;
}

.prices__item-title {
   min-height: 53px;
   margin-bottom: 13px;
   font-size: 12px;
   line-height: 26px;
   background-color: #E1DECE;
}

.prices__item-title span{
   font-size: 20px;
   font-weight: bold;
}

.prices__item-content {
   flex: 1 0 auto;
   margin: 0 18px;
}
.prices__item-descr {
   font-size: 8px;
   line-height: 12px;
   margin-bottom: 7px;
}

.prices__item-price {
   font-size: 12px;
   line-height: 26px;
   margin-bottom: 20px;
}

.prices__item-price span{
font-size: 20px;
}

.prices__item-price>span{
font-weight: bold;
font-size: 12px;
}

.prices__item-list-title {
   margin-bottom: 14px;
   font-size: 10px;
   line-height: 12px;
   font-weight: bold;
}

.prices__item-list {
   text-align: left;
   color: #000000;
}

.prices__item-list li{
   font-size: 10px;
   line-height: 20px;
}

.prices__item-btn {
   display: block;
   margin: 0 25px;
   background-color: #191919;
}

.footer{
   font-size: 15px;
   line-height: 25px;
}

.footer__content {
   display: flex;
   padding-bottom: 37px;
}

.footer__inner {
   margin-top: 60px;
   min-width: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 87px 87px;
   gap: 30px;
}

.footer__title{
   margin-bottom: 15px;
   letter-spacing: normal;
}

.footer__subtitle{
   font-weight: 400;
   color: #E1DECE;
}

.footer__number {
   display: block;
}

.footer__copyright{
   background-color: #1F1F1F;
   text-align: center;
   padding: 41px 0 45px;
   font-size: 15px;
   line-height: 25px;
}